:root   {
    --primarioOscuro: #82af70;
    --verdeclaro: #605820;
    --negro: #000;
    --blanco: #FFF;
    --celeste: #5898b0;
    --rosa: #b87880;
}

.principal {
    background-color: #605820;
}